---
layout: default
title: Blog
---
<h1>Latest Posts</h1>

<section class="tags">
  <span>Tags:</span>
  {% for tag in site.tags %}
    <a href="{{tag.url}}" class="post--tag">{{ tag.name }}</a>
  {% endfor %}
</section>

<ul class="blog--list">
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">
      <h4 class="blog--title">{{ post.title }}</h4>
      <h4 class="blog--date">{{ post.date | date_to_string }}</h4>
      <span class="blog--excerpt">{{ post.excerpt }}</span>
    </a>
  </li>
  {% endfor %}
</ul>