body {
    margin: 0;
    text-align: center;
    text-align: -webkit-center;
    background: #272727;
    color: #f7f8f8;
    font-size: 1.2rem;
    padding:1rem;
    font-family: "Arial";
}

#myname {
    font-size: 1.1em;
    font-weight: bold;
    color: #f4c443;
}

#slogan {
    max-width: 15em;
}

#profile-picture {
    width: 50vw;
    height: 50vw;
    max-width: 15em;
    max-height: 15em;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (min-width: 30em){
    body {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 50em){
    body {
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 130em){
    body {
        font-size: 1.9rem;
    }
}