.blog--list {
    list-style: none;
    padding: 0
}

.blog--title {
    margin-bottom: 0.3em;
}

.blog--date {
    margin-top: 0;
    margin-bottom: 0.8em;
    color: var(--text-color);
}

a.post--tag {
    background-color: var(--text-color);
    color: var(--background-color);
    padding: 4px 12px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}