#hello {
    text-align: left;
    text-align: -webkit-left;
    color: var(--text-color);
    font-size: 1.2em;
    font-family: "Arial";
    max-width: 50%;

    & > #slogan {
        margin-top: 2.5em;
    }
}

#myname {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--heading-color);
}
