#hello {
    margin: 0;
    text-align: center;
    text-align: -webkit-center;
    background: var(--background-color);
    color: var(--text-color);
    font-size: 1em;
    padding:1rem;
    font-family: "Arial";
}

#myname {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--link-color);
}

#slogan {
    max-width: 15em;
}

#profile-picture {
    width: 50vw;
    height: 50vw;
    max-width: 15em;
    max-height: 15em;
    border-radius: 50%;
    object-fit: cover;
}