.action-call {
    display: inline-block;
    background-color: var(--text-color);
    padding: .5em;
    border-radius: 8px;
}

#hello {
    text-align: left;
    text-align: -webkit-left;
    color: var(--text-color);
    font-size: 1.2em;
    font-family: "Arial";
    max-width: 45%;

    h1 {
        margin-bottom: 0;
    }

    & > .subtitle {
        font-size: 0.95em;
        margin-top: 0.25em;
    }

    & > p:not(.subtitle) {
        font-size: 0.85em;
    }

    & > #slogan {
        margin-top: 2.5em;
    }

    em {
        color: var(--text-color);
    }

    & .action-call {
        margin:1px;
    }
}

#myname {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--heading-color);
}
