:root {
  --link-color: #f4c443;
  --background-color: #272727;
  --text-color: #f7f8f8;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 1rem;
  font-family: "Arial";
  max-width: 40em;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0
}

#content {
  max-width: 75em;
}

a:link, a:visited {
  color: var(--link-color);
}

// About 600px (default of 16px font)
@media screen and (min-width: 37em){
  body {
    font-size: 1.4rem;
  }
}

// About 900px (default of 16px font)
@media screen and (min-width: 56em){
  body {
    font-size: 1.6rem;
  }
}

// About 1200px (default of 16px font)
@media screen and (min-width: 75em){
  body {
    font-size: 1.8rem;
  }
}

// About 1800px (default of 16px font)
@media screen and (min-width: 112em){
  body {
      font-size: 2rem;
  }
}