:root {
  --link-color: #f4c443;
  --background-color: #272727;
  --text-color: #f7f8f8;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  font-size: 1.2rem;
  padding: 1rem;
  font-family: "Arial";
  max-width: 40em;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0
}

#content {
  max-width: 75em;
}

a:link, a:visited {
  color: var(--link-color);
}

// sm 600px
@media screen and (min-width: 600px){
  body {
    font-size: 1.3rem;
  }
}

// md 900px
@media screen and (min-width: 900px){
  body {
    font-size: 1.4rem;
  }
}

// lg 1200px
@media screen and (min-width: 1200px){
  body {
    font-size: 1.5rem;
  }
}

// xl 1800px
@media screen and (min-width: 1800px){
  body {
      font-size: 1.7rem;
  }
}
