:root {
  --link-color: #6290c8;
  --background-color: #272727;
  --text-color: #f7f8f8;
  --heading-color: #f4c443;
  --md-code-color: #e27865;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  font-size: 1.2rem;
  font-family: "Arial";
  height: 100%;
}

.hero_image {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.hero_image--profile {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../images/HeroImage1440.jpg);
}

.hero_greeting {
  font-size: 4em;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
}

em {
  color: var(--md-code-color);
}

.body--content {
  max-width: 35em;
  padding: 1rem;
  margin: auto;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: var(--link-color);
}

// sm 600px
@media screen and (min-width: 600px){
  body {
    font-size: 1.3rem;
  }
}

// md 900px
@media screen and (min-width: 900px){
  body {
    font-size: 1.4rem;
  }
}

// lg 1200px
@media screen and (min-width: 1200px){
  body {
    font-size: 1.5rem;
  }
}

// xl 1800px
@media screen and (min-width: 1800px){
  body {
      font-size: 1.7rem;
  }
}

// About 3500px
@media screen and (min-width: 218em){
  body {
      font-size: 2.4rem;
  }
}
