#header nav {
    // text-align: center;
    // padding: 1em;
    text-align: left;
    padding: 0.5em 0em;
    // border-bottom: 1px solid var(--text-color);
}

#header nav a {
    transition: text-decoration .7s;
    text-decoration: none;
}

#header nav a:link, nav a:visited {
    color: var(--text-color);
    margin-right: 16px;
    padding-bottom: 4px;
}

#header nav a:hover {
    border-bottom: 2px solid var(--text-color);
}

#header hr {
    margin-top: 0;
}

.header_wrapper {
    // background-image: linear-gradient(to bottom right, #6290c9FF, #6290c900)
    // background-image: linear-gradient(to bottom right, #6290c9FF, #6290c933, #6290c900);
    background-image: linear-gradient(173deg, #6290c9FF, #6290c933, #6290c900);
}

.nav_item--current {
    border-bottom: 2px solid var(--text-color);
}