// .projects {
//     display: grid;
//     grid-template-columns: 1fr;
// }

// @media screen and (min-width: 900px){
//     .projects {
//         grid-template-columns: 1fr 1fr;
//     }
// }

// Posiitoning of the card for project page
.projects > div.project--card {
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    // max-width: 20em;
}

// General style for card
.project--card {
    background-color: var(--text-color);
    color: var(--background-color);
    border-radius: 8px
}

.project--description {
    padding: 0em 1em 1em 1em;
}

.project--tech {
    padding: 0.5em 1em;
    box-shadow: 0 0 2px black;

    ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline-block;
            padding-right: .5em;
        }
    }
}

.project--title {
    background-size: cover;
    background-position: center;
    background-color: black;
    margin: 0em;
    padding: 2em 1em 1em 1em;
    text-shadow: 0 0 8px black;
    border-radius: 8px;
    h2 {
        margin-bottom: 0;
        padding: 0.25em;
        display: inline-block;
        background-color: #FFFFFF66;
        border-radius: 4px;
    }
}

#dungeon-keys {
    background-image: url("/images/Keys720.png");
}

#data-migration {
    background-image: url("/images/hardDrive.jpg");
    /*
    Thanks to Art Wall - Kittenprint for making this photo available freely on @unsplash 🎁 https://unsplash.com/photos/9Wq1HpghQ4A?utm_source=twitter&utm_medium=referral&utm_content=creditShareLink 
    */
}